nav ul li {
    list-style: none;
}
.li_1 {
    display: flex;
    justify-content: space-evenly;
    align-items:flex-start;
    font-size: 1.5rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: blue;
}
a {
    color: blue;
    display: flex;
    justify-content:end;
    align-items: flex-end;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1, h2 {
    color: blue;
    font-size: 5rem;
    margin-left: 17%;
    font-family: monospace;
}
.pro1 {
    border: solid 2px black;
    background-color: gainsboro;
    font-family: monospace;
    font-size: 16px;
    padding: 2%;
    margin-top: -81.5%;
    margin-left:60%;
}

.img1 {
    width: 45%;
    margin-left: 10%;
    border: solid 2px black;
}
.h1_1 {
    color: blue;
    font-size: 5rem;
    margin-left: 17%;
    margin-top: 20%;
    font-family: monospace;
}
body {
    background-color: antiquewhite;
}
#size {
    margin-left: 62%;
    margin-top: -15%;
    background-color: grey;
    border: solid 1px black;
    border-radius: 4em;
    font-size: 15px;
    color: white;
}
.basket {
    background-color: grey;
    font-size: 16px;
    padding: 1%;
    border-radius: 5em;
    margin-left: 78%;
    margin-right: 10%;
    margin-top: -7%;
    border: solid 1px  black;
    
}
h4 {
    font-family: monospace;
    font-size: 22px;
    margin-left: 60%;
    margin-top: 5%;
}
h5 {
    font-family: monospace;
    margin-left: 60%;
    margin-top: 3%;
    font-size: 15px;
}
.p1 {
    margin-left: 60%;
    margin-top: 1%;
    font-family: monospace;
}
.c2 {
    font-size: 30px;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
}
.grid-container p {
    border: solid 1px black;
    font-family: monospace;
    font-size:20px;
    padding: 10%;
    margin: 5%;
    background-color: grey;
}
.grid-container a {
    color: white;
    justify-content: center;
}
.col_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.img2 {
    width: 80%;
    margin-right: 4%;
    opacity: 50%;
}
.img3 {
    width: 80%;
    margin-right: 8%;
}
.img4 {
    width: 80%;
    margin-right: 12%;
    opacity: 50%;
}
.col_3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.img5 {
    width: 80%;
    margin-right: 4%;
    margin-top: 20%;
}
.img6 {
    width: 80%;
    margin-right: 8%;
    margin-top: 20%;
    opacity: 50%;
}
.img7 {
    width: 80%;
    margin-right: 12%;
    margin-top: 20%;
    opacity: 50%;
}
.sold-out {
    margin-left: -25%;
    margin-top: -25%;
}
.sold-out2 {
   margin-top: -38%;
    grid-column: 3;
    margin-left: 68%;
}
.sold-out3 {
    margin-left: -28%;
    margin-top: -39%;
}
.sold-out4 {
    grid-column: 3;
   margin-top: -39%;
   margin-left: 68%;
}
.grid_3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.h4_1 {
    grid-column: 1;
    margin-left: 16%;
}
.h5_1 {
    grid-column: 1;
    margin-left: 16%;
    margin-top: -5%;
}
.p_1 {
    grid-column: 1;
    margin-left: 16%;
    font-family: monospace;
}
.h4_2 {
    grid-column: 2;
    margin-left: 12%;
    margin-top: -16%;
}
.h5_2 {
    grid-column: 2;
    margin-left: 12%;
    margin-top: -18%;
}
.p_2 {
    grid-column: 2;
    margin-left: 12%;
    margin-top: -7%;
    font-family: monospace;
}
.h4_3 {
    grid-column: 3;
    margin-left: 8%;
    margin-top: -25%;
}
.h5_3 {
    grid-column: 3;
    margin-left: 8%;
    margin-top: -18%;
}
.p_3 {
    grid-column: 3;
    margin-left: 8%;
    margin-top: -7%;
    font-family: monospace;
}
.grid_3_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.h4_4 {
    grid-column: 1;
    margin-left: 20%;
    margin-top: 5%;
}
.h5_4 {
    grid-column: 1;
    margin-left: 20%;
    margin-top:-5%;
}
.p_4 {
    grid-column: 1;
    margin-left: 20%;
    margin-top: 3%;
    font-family: monospace;
}
.h4_5 {
    grid-column: 2;
    margin-left:20%;
    margin-top: -16%;
}
.h5_5 {
    grid-column: 2;
    margin-left: 20%;
    margin-top:-18%;
}
.p_5 {
    grid-column: 2;
    margin-left: 20%;
    margin-top: -6%;
    font-family: monospace;
}
.h4_6 {
    grid-column: 3;
    margin-left: 20%;
    margin-top: -25%;
}
.h5_6 {
    grid-column: 3;
    margin-left: 20%;
    margin-top:-18%;
}
.p_6 {
    grid-column: 3;
    margin-left: 20%;
    margin-top: -6%;
    font-family: monospace;
}